$corFundo: black;
$corTexto: rgb(236, 240, 241);
$corBotao: rgb(46, 204, 113);
$corData: #005ea8;
$corVersaoTitulo: rgb(214, 48, 49);
$modal-bg: rgba(0, 0, 0, 0.8);
$close-btn-color: white;
$close-btn-size: 30px;
